<%- include('../includes/header.ejs') %>
        <div>
        <hr />
        <br />
        <h3><%= pageTitle %></h3>
        <a href="/item/add">Add Item</a>
        <div>
            <table width="100%" border=""1 style="border-collapse: collapse; border: 1px solid #000; background-color: #b4e2e2;">
                <thead>
                    <tr>
                        <th>Sl.</th>
                        <th>User Id</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Details</th>
                        <th>Upload Files</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% let sl = 1 %>
                    <% for(let item of data){ %>
                        <tr>
                            <td><%= sl++ %></td>
                            <td><%= item.userId %></td>
                            <td><%= item.title %></td>
                            <td><%= item.status %></td>
                            <td><%= item.details %></td>
                            <td></td>
                            <td>

                                <a href="" style="margin: 2px 10px;" >Edit</a> &nbsp; &nbsp;
                                <a href="/item/delete/<%= item.id %>">Delete</a>
                            </td>
                        </tr>
                    <%  }   %>
                </tbody>
            </table>
        </div>
    </div>
<%- include('../includes/footer.ejs') %>
