<%- include('../includes/header.ejs') %>
    <div>
        <hr />
        <h3><%= pageTitle %></h3>
        <h4>Page No <%= pageNo %></h4>
        <% for(let article of data){ %>
            <div style="float: left; width: 20%; height: 150px; margin: 5px; padding: 5px; border: 1px solid #000; background-color: #b4e2e2;">
                <p><%= article.title %></p>
            </div>
        <%  }   %>
    </div>
<%- include('../includes/footer.ejs') %>
