<%- include('../includes/header.ejs') %>
    <div>
        <hr />
        <h3>-: Product listing using mongoose:-</h3>

        <div style="float: left; width: 20%; margin: 5px; padding: 15px; border: 1px solid #000; background-color: rgb(180, 226, 226);">
            <form action="/product/add/?_csrf=<%=csrfToken%>" method="post" enctype="multipart/form-data" >
                <input type="text" name="productName" placeholder="Product Name" style="margin:0 0 10px 0px;;" />
                <input type="text" name="productPrice" placeholder="Product Price" /> &nbsp; 
                <input type="file" name="ProductImage"  style="margin:10px 0 10px 0px;;" />
                <input type="submit" value="Save" style="cursor: pointer;" />
            </form>
        </div>
        <% for (let product of productlist) { %>
            <div style="float: left; width: 20%; height: 150px; margin: 5px; padding: 5px; border: 1px solid #000; background-color: #b4e2e2;">
                <div style="width: 50%; float: left;">
                    <%= product.name %>
                    <br /> <br />
                    Price : <%= product.price %> &nbsp; <br /><br />
                </div>
                <div style="width: 50%; float: left;">
                    <img src="/<%=product.imageUrl%>" width="100px" />
                </div>
                <div style="width: 100%; float: left;">
                    <a href="/product/details/<%=product._id%>" style="color: #111; cursor: pointer; ">View More</a> &nbsp; &nbsp; 
                    <a href="/product/delete/<%=product._id%>" style="color: #111; cursor: pointer; ">Delete</a>  
                </div>
            </div>
        <% } %>
    </div>
<%- include('../includes/footer.ejs') %>
